<h1>Current Projects</h1>
<div>
  <table>
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Address</th>
        <th>Job Type</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td> <%= project.customer_name%> </td>
        <td> <%= project.address%> </td>
        <td> <%= project.job_type%> </td>
        <td><%= link_to "Show", project %></td>
        <td><%= link_to "Edit", edit_project_path(project) %></td>
      </tr>
    <% end %> 
  </tbody>
  </table>
</div>
