<h1> New Project </h1>
<div>
  <%= form_with(model: @Project) do |form| %>
    <%= form.label "Customer Name" %> <br>
    <%= form.text_field :customer_name %> <br>

    <%= form.label "Date Started" %> <br>
    <%= form.text_field :customer_name %> <br>
    
    <%= form.label "Address" %> <br>
    <%= form.text_field :customer_name %> <br>

    <%= form.label "Description of Job" %> <br>
    <%= form.text_field :customer_name %> <br>

    <%= form.label "Job Type" %> <br>
    <%= form.text_field :customer_name %> <br>



    <%= form.submit "Search" %>
</div>